<%- include('partials/landingheader') -%>

<!-- <section class="text-center p-5">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>Welcome to Dora</h1>
                <p class="lead">a <span class="text-purple">social</span> <span class="text-danger">question-and-answer</span> website</p >
            </div>
            <img src="/public/imgs/undraw_online_message.png" alt="pic" class="img-fluid w-50" >
        </div>
    </div>
</section> -->



<main class="container p-5">
    <div class="row">
        <div class="col-sm-6">
            <h1>Welcome to Dora</h1>
                <p>a <span class="text-info">social</span> <span class="text-danger">question-and-answer</span> web app</p >
            <!-- <form action="/feed/search" class="search-form">
                <i class="fas fa-search"></i>
                <input type="search" name="tag" placeholder="Your question here...">
                <input type="submit" name="" id="" value="Search">
            </form> -->
          
        </div>
 
        <div class="col-sm-3">
           <img src="https://i.ibb.co/jf0vfWb/undraw-My-answer.png" alt="pic" class="imgstyling d-none d-sm-block" ><!-- our custom class for img might need to be changed later on -->
        </div>
        <div class="col-sm-3">
           
        </div>
    </div>
</main>
<%- include('partials/footer') -%>